<div class="test">
  <div>
    <h1 class="title">A little <b>bit</b> about us</h1>
    <div class="content">
      Fundada em 1994 por Jeffrey Preston Bezos, a Amazon, hoje, é líder mundial no e-commerce e computação em nuvem.
      No momento que esse artigo é escrito, ela é avaliada em $1.62 trilhões. Quando Jeff Bezos criou a empresa, ela era
      apenas uma livraria online. Atualmente, é difícil dizer o core business da empresa, dado o quão multifacetada ela
      é no que diz respeito a sua quantidade de produtos e serviços.<br><br>
      Parte do que torna a Amazon tão bem sucedida é o fato de que a empresa mantém os olhos atentos sobre todas as
      tendências. Além do e-commerce, a receita da Amazon vem de serviços de assinatura, serviços de computação em nuvem,
      vendas de produtos na Whole Foods e outras áreas. Ela também cria e vende seus próprios produtos eletrônicos, como
      o Amazon Kindle e o Amazon Echo.
    </div>
  </div>
</div>
