<!--right content-->
<div class="content-left">
  <h1 class="fst-title">Progamming <br> drivers solution.</h1>
  <h2 class="scn-title">Binary digits and line <br><br> art.</h2>
</div>

<!--right content-->
<div class="content">
  <h3 class="title">Funcionalidade máxima e desempenho em qualquer app</h3>
  <p>A AWS oferece uma quantidade consideravelmente maior de serviços – e mais recursos com esses serviços – do que qualque
  r outro provedor de nuvem: de tecnologias de infraestrutura, como computação, armazenamento e bancos de dados, a tecnologias
  emergentes como machine learning e inteligência artificial, data lakes, análises e Internet das Coisas. Com isso, é mais rápido,
  mas fácil e mais econômico mover seus aplicativos para a nuvem e construir praticamente qualquer coisa que você possa imaginar.

    A AWS também tem a funcionalidade mais aprofundada nesses serviços. Por exemplo, a AWS oferece a mais ampla gama de bancos
    de dados especialmente criados para os diversos tipos de aplicativos. Assim, você pode escolher a ferramenta certa para o trabalho,
    ao melhor custo e com a melhor performance.
  </p>

  <p>Com a AWS, você pode utilizar as últimas tecnologias para conduzir testes e inovar mais rapidamente. Estamos sempre
    inovando a um ritmo cada vez mais acelerado para criar tecnologias completamente novas que você pode usar para transformar
    seus negócios. Por exemplo, em 2014, a AWS abriu o espaço de computação sem servidor com o lançamento do AWS Lambda, que permite
    que desenvolvedores executem códigos sem provisionar nem gerenciar servidores. E a AWS construiu o Amazon SageMaker, um serviço
    completamente gerenciado de machine learning que permite que desenvolvedores e cientistas usem essa tecnologia sem qualquer
    experiência anterior.</p>

</div>
