<div class="container">
  <h3 class="title">Coding... como fazemos?</h3>
  <p>  POO é um paradigma da progamação, que nada mais é a  estrutura que a linguagem respeita,
    de modo que o paradigma vai ditar sua ordem de execução. Tomarei a ideia de querer subir um piano que esta no térreo
    par o 2º andar, posso usar da minha força, minha força mais 5 amigos ou de um motor localizado no 2º andar que irá
    subir ele. Com esta mesma ótica nós temos 6 paradigmas que compunha nas linguagens de progamação, sendo eles
    respectivamente : paradigma imperativo, declarativo, funcional, lógico, orientado a objetos e orientado a eventos.</p>
  <p>1. O primeiro é o briefing, que é onde faz todo levantamento com o cliente sobre a empresa.<br>
    2. O wireframe é usado para fazer um “esqueleto” da interface da aplicação para ter um ponto x para chegar.<br>
    3. Estabelecer um cronograma para a distribuição de tarefas (tem disponível em outro arquivo chamado softwares uteis).<br>
    4. Ultilizar de bagagem visual para se inspirar (tem disponível em outro arquivo chamado softwares uteis).<br>
    5. Desenvolvimento do layout, onde irá ocorrer a projeção/desenho da aplicação.<br>
    6. Após desenvolver o layout iremos deixar navegável o design do projeto, para prototipar para o cliente, nunca prototipar por fotos, sempre
    mostrar a funcionalidade e a responsividade.<br>
    7. Agora é hora de desenvolver o front e o back end de acordo com o que é pedido pelo projeto.<br>
    8. Usar o site para ver se está tudo certo e fazer ajustes.<br>
    9. Hospedar em algum servidor que será bancado por min ou pelo cliente ou ambos.<br>
    10. Futuramente este site pode haver manutenção que terá um custo, geralmente e cobrado por hora, entre 60-90 reais.</p>
</div>
<br><br><br><br><br><br>

