<!-- Front Page-->
<div id="home" class="container-fluid">
  <h1>Bridge for your success</h1>
  <h2></h2>
</div>

<div id="about">
    <div class="content">
        <table><tr><td>
          <span>A LITTLE BIT ABOUT</span>
          <h1>ME</h1>
          <h2>DRIVEN • ADAPTIVE</h2>

          <h5>
            I am an aspiring front-end developer from a traditional engineering background.
            I am always working with code to make life easier.  When I'm not coding, you'll find in the shed tinkering
            with random bits of wood,
            metal and electronics.</h5>
        </td></tr></table>
    </div>
    <div id="aboutCompanionBox"></div>


    <!--<div style="width: 100px; height: 100px; background-color: #72d1ce">-->
</div>



<div>
    <div id= "portfolio-left" style="background-color:#1e479d; min-height:400px; margin-top: -10px">
        <div class="text" style="min-height:400px; padding: 20px;">
          <table><tr><td>
           >A SHOWCASE OF MY
           <h1>WORK</h1>
           <h2>ANALYSE • DESIGN • IMPLEMENT</h2>

           <h5>
             <h3 style="color:#ffffff">-Competences-</h3>
             <h3>Languages and Frameworks</h3>
             Javascript, HTML5, CSS3, jQuery, Bootstrap, C/C++, VBA
             <h3>Tools & expertise</h3>
             Git, Responsive Web Design<br>
           </h5>
          </td></tr></table>
        </div>
    </div>
</div>




