<!-- Front Page-->
<div id="home" class="container-fluid">
  <h1>Bridge for your success</h1>
  <h2></h2>
</div>

<div id="about">
    <div class="content">
        <table><tr><td>
          <span>About</span>
          <h1>Technologies</h1>
          <h2>TRUSTBALE • ADAPTIVE</h2>

          <h5>
            UIxUX, structured, easy to use, all controled by our hands
            I am always working with code to make life easier. Shared backups in cloud, SPA hosting and
            constant maintanece, in addition manipulated API's</h5>
        </td></tr></table>
    </div>
    <div id="aboutCompanionBox"></div>


    <!--<div style="width: 100px; height: 100px; background-color: #72d1ce">-->
</div>



<div>
    <div id= "portfolio-left" style="background-color:#1e479d; min-height:400px; margin-top: -10px">
        <div class="text" style="min-height:400px; padding: 20px;">
          <table><tr><td>
           >A SHOWCASE OF THE ENTERPRISE

           <h2>DESIGN • CODING • DEPLOY</h2>

           <h5>
             <h3 style="color:#ffffff">-Competences-</h3>
             <h3>Engineering</h3>
              Web apps to EIS until TPS, all in our hands for your best solution
             <h3>Your responsibilities</h3>
             Trust and sign the agreement<br>
           </h5>
          </td></tr></table>
        </div>
    </div>
</div>




